include partials/navbar.pug

h1 Álbumes de #{usuario.nombre}

form(action="/albumes/crear" method="POST")
  input(type="text" name="titulo" placeholder="Título del álbum" required)
  button(type="submit") Crear álbum

ul
  each album in albumes
    li= album.titulo
