extends ./partials/layout.pug

block content
  h1.mb-4 Bienvenido a Artesanos.com
  p.text-muted Conectamos a la comunidad con las actividades que más disfruta.

  .card.mb-4
    .card-body
      h2.card-title Actividades destacadas
      ul
        li Escultura
        li Cerámica
        li Costura

  .card.mb-4
    .card-body
      h2.card-title Noticias recientes
      p Mantente informado sobre los proximos eventos y novedades.

  a.btn.btn-info(href="/usuarios") Ver usuarios
  a.btn.btn-info(href="/verAlbum") Ver albumes
