
extends ./partials/layout.pug

include content
  .container
    h1 Bienvenido a Artesanos.com
    p Conectamos a la comunidad con las actividades que más disfruta.

    .card
      h2 Actividades destacadas
      ul
        li Yoga para adultos mayores
        li Taller de Memoria
        li Clases de Folklore

    .card
      h2 Noticias recientes
      p Mantente informado sobre los próximos eventos y novedades.

    a.btn(href="/usuarios") Ver usuarios
