
extends ./partials/layout.pug

block content
  .container
    h1 Iniciar Sesión

    form(method="POST", action="/login")
      .card
        label(for="email") Correo electrónico
        input(type="email", name="email", required).form-control

        label(for="password") Contraseña
        input(type="password", name="password", required).form-control

        button.btn(type="submit") Entrar
