
extends ./partials/layout.pug

block content
  .container
    h1 Mi Perfil

    .card
      h2 Datos personales
      p Nombre: #{usuario.nombre}
      p Email: #{usuario.email}
      p Edad: #{usuario.edad}

    a.btn(href="/editar-perfil") Editar perfil
