doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Lista de Usuarios - Artesanos.com
    link(rel="stylesheet", href="/css/estilos.css")
  body
    include partials/navbar.pug

    h1 Lista de Usuarios
    ul
      each usuario in usuarios
        li= `${usuario.nombre} ${usuario.apellido} (${usuario.email})`
