extends ./partials/layout.pug

block content
  h1.mb-4 Lista de Usuarios

  if usuarios.length
    table.table.table-striped
      thead
        tr
          th ID
          th Nombre
          th Email
      tbody
        each u in usuarios
          tr
            td= u.id
            td= u.nombre
            td= u.email
  else
    p.text-muted No hay usuarios registrados.