extends ../partials/layout

block content
  h2 Álbum 1 – Introducción a la Web
  ul
    li Historia y funcionamiento de la Web
    li Qué es HTTP, cliente, servidor
    li Métodos: GET, POST, PUT, DELETE
    li Ejemplo básico en Node.js
