doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Artesanos.com
    link(rel="stylesheet", href="/css/estilos.css")
  body
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="/usuarios") Usuarios
        li
          a(href="/login") Login
    block content
    footer
      p © 2025 Artesanos.com
