nav
  ul
    li
      a(href='/') Inicio

    if usuario
      li Bienvenido, #{usuario.nombre}
      li
        form(action="/cerrar-sesion" method="POST")
          button(type="submit") Cerrar sesión
    else
      li
        a(href='/iniciar-sesion') Iniciar sesión
      li
        a(href='/registrar') Registrarse
      li
        form(action="/buscar" method="GET" style="display:flex; gap:10px; margin:10px 0")
          input(type="text" name="q" placeholder="Buscar..." required)
          select(name="filtro")
            option(value="usuario") Usuario
            option(value="album") Álbum
            option(value="etiqueta") Etiqueta
          button(type="submit") Buscar
        
